<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingAccount">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="쇼핑 가계"
        android:roundIcon="@drawable/shopping_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".goods_click" android:label=".goods_click"/>
        <activity android:name=".Popup.PopupActivity" android:label=".Popup.PopupActivity" android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />


        <receiver android:name=".MSGReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>